[{"typeId":0,"typeName":"上衣","imgUlr":"http://d03.res.meilishuo.net/img/_o/09/12/e83935aaf3cdfa5df22dfe7ea0b5_130_130.c1.jpg"},
{"typeId":"1","typeName":"裙子","imgUlr":"http://imgtest-dl.meiliworks.com/pic/f/5b/7f/7badf8cfaea06052ff42d4473a71_800_800.c1.jpg"},
{"typeId":"2","typeName":"裤子","imgUlr":"http://img-tx.meilishuo.net/pic/f/2a/5c/e478a7502d7a9b776b70d71269ba_479_640.c1.jpg"},
{"typeId":"3","typeName":"鞋子","imgUlr":"http://d02.res.meilishuo.net/img/_o/82/7f\/ac2f55990b721eb71e7042d2add8_130_130.c1.jpg"},
{"typeId":"4","typeName":"包包","imgUlr":"http://d01.res.meilishuo.net/pic/f/62/61/ae06a85b8ba608f36fd08b706903_450_600.c1.jpg"},
{"typeId":"5","typeName":"配饰","imgUlr":"http://d01.res.meilishuo.net/pic/f/7b/42/3a28531a44510f301ab567a347eb_511_504.c1.jpeg"}]